flows_raspberrypi.json
[{"id":"26cad7e6.603448","type":"tab","label":"Test BASIC","disabled":false,"info":""},{"id":"a8a14c3e.34ce1","type":"tab","label":"LED Test","disabled":false,"info":""},{"id":"0491f70229d5362c","type":"tab","label":"Test Sensors and Outputs","disabled":false,"info":""},{"id":"b4e75311.3dd0c8","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"e2a0c369.799018","type":"tab","label":"HTTP","disabled":false,"info":""},{"id":"4fed91a4.e17538","type":"board-config","board":"GrovePi"},{"id":"171fa8baae1e9279","type":"board-config","board":"GrovePi"},{"id":"e13f4151.0445d","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"80347f9d.3b7f48","type":"grove digital output","z":"a8a14c3e.34ce1","name":"","board":"4fed91a4.e17538","pin":"4","x":730,"y":280,"wires":[]},{"id":"52bea0c6.b59ca","type":"inject","z":"a8a14c3e.34ce1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":500,"y":220,"wires":[["80347f9d.3b7f48"]]},{"id":"8d4018b7.d2d48","type":"inject","z":"a8a14c3e.34ce1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":500,"y":360,"wires":[["80347f9d.3b7f48"]]},{"id":"225a147c.b22cc4","type":"inject","z":"26cad7e6.603448","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":240,"wires":[["1c8e939e.0110cc"]]},{"id":"1c8e939e.0110cc","type":"debug","z":"26cad7e6.603448","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":260,"wires":[]},{"id":"0b1444ad35adcee5","type":"grove lcdrgb output","z":"0491f70229d5362c","name":"","board":"171fa8baae1e9279","pin":"1","x":690,"y":440,"wires":[]},{"id":"019b56ca5a8b55dc","type":"inject","z":"0491f70229d5362c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"text\":\"TESTING\",\"rgb\":[255,0,0]}","payloadType":"json","x":510,"y":320,"wires":[["0b1444ad35adcee5"]]},{"id":"f84e3c8af8241091","type":"grove analog sensor","z":"0491f70229d5362c","name":"","pin":"0","sensor":"sound","repeat":"0.1","board":"171fa8baae1e9279","x":110,"y":200,"wires":[["eca72ed0c11e450a","9a4e161ac8bf974c","2dfec1646609dde2"]]},{"id":"eca72ed0c11e450a","type":"debug","z":"0491f70229d5362c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":200,"wires":[]},{"id":"9a4e161ac8bf974c","type":"function","z":"0491f70229d5362c","name":"","func":"msg.payload = {\n  \"text\": \"reading=\" + msg.payload + \".\",\n  \"rgb\":[0,255,0]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":300,"wires":[[]]},{"id":"cb663aec88c49255","type":"grove digital sensor","z":"0491f70229d5362c","name":"","board":"171fa8baae1e9279","sensor":"dht11","repeat":"2","pin":"7","x":110,"y":460,"wires":[["58cab10796ea9301","eca72ed0c11e450a"]]},{"id":"2826ca11bc66f974","type":"function","z":"0491f70229d5362c","name":"","func":"if (msg.payload == true){\n    msg.payload = {\n    \n      \"text\": \"BUTTON PRESSED\",\n      \"rgb\":[0,0,255]\n    }\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":480,"wires":[["eca72ed0c11e450a"]]},{"id":"58cab10796ea9301","type":"function","z":"0491f70229d5362c","d":true,"name":"","func":"msg.payload = {\n  \"text\": \"temp=\" + msg.payload.temperature + \" C     hum=\"+msg.payload.humidity+\"%\",\n  \"rgb\":[0,255,0]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":440,"wires":[["0b1444ad35adcee5"]]},{"id":"caf28823a903a06a","type":"grove digital sensor","z":"0491f70229d5362c","name":"","board":"171fa8baae1e9279","sensor":"button","repeat":"0.1","pin":"6","x":110,"y":540,"wires":[["2826ca11bc66f974"]]},{"id":"f69a40201c3a7261","type":"grove analog output","z":"0491f70229d5362c","name":"","board":"171fa8baae1e9279","pin":"3","x":360,"y":80,"wires":[]},{"id":"2dfec1646609dde2","type":"function","z":"0491f70229d5362c","name":"","func":"msg.payload = msg.payload / 1023 * 255\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":100,"wires":[["f69a40201c3a7261"]]},{"id":"7c8789eb.c201f","type":"mqtt in","z":"b4e75311.3dd0c8","name":"","topic":"test/topic","qos":"2","datatype":"auto","broker":"e13f4151.0445d","nl":false,"rap":true,"rh":0,"x":590,"y":220,"wires":[["37bc807e.524ba"]]},{"id":"37bc807e.524ba","type":"debug","z":"b4e75311.3dd0c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":240,"wires":[]},{"id":"bc717c40.54c208","type":"comment","z":"b4e75311.3dd0c8","name":"","info":"# start broker\n$ mosquitto \n\n# send\n$ mosquitto_pub -t \"<topic>\" -h <broker address> -m \"<message>\" -u \"<user>\" -P \"<password>\"\n\n# subscribe\n$ mosquitto_sub -t \"<topic>\" -h <broker address> -u \"<user>\" -P \"<password>\"","x":610,"y":160,"wires":[]},{"id":"6f754468.e1558c","type":"mqtt out","z":"b4e75311.3dd0c8","name":"","topic":"test/topic","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e13f4151.0445d","x":890,"y":400,"wires":[]},{"id":"a69c13a0.e3843","type":"inject","z":"b4e75311.3dd0c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":590,"y":340,"wires":[["6f754468.e1558c"]]},{"id":"a7a0a78.0a633d8","type":"http response","z":"e2a0c369.799018","name":"","statusCode":"","headers":{},"x":780,"y":240,"wires":[]},{"id":"a9f18e6f.86fcd8","type":"function","z":"e2a0c369.799018","name":"","func":"\nvar html = `<!DOCTYPE html><html>\n<head><title>TEST</title></head>\n<body>\n<h1>Ciao</h1>\n</body>\n</html>\n`;\n\nmsg.payload = html;\nmsg.topic = \"response\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":240,"wires":[["a7a0a78.0a633d8"]]},{"id":"d7f7cf94.f6555","type":"http in","z":"e2a0c369.799018","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":350,"y":120,"wires":[["a9f18e6f.86fcd8","f33fe09d.530f88"]]},{"id":"f33fe09d.530f88","type":"debug","z":"e2a0c369.799018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"ea34e79.4146618","type":"comment","z":"e2a0c369.799018","name":"","info":"http://192.168.10.116:1880/test?v=10","x":350,"y":200,"wires":[]}]